#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: auto;
  margin-top: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.product {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: auto;
  transition: 1s ease;
  margin: 30px;
  border-bottom: solid 0.5px #b1ddf1;
  padding: 2px;
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.product img {
  width: 100%;
  height: 300px;
  transition: 1s ease;
  border-radius: 10px;
  border-top: solid 0.5px #b1ddf1;
}
.product img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
.top h2 {
  height: 55px;
  color: white;
}

.product h2 {
  margin-top: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.in4 {
  display: flex;
  justify-content: space-between;
}

.qual h5,
.time h5 {
  color: #fff;
  padding: auto;
  font-family: "Courier New", Courier, monospace;
}
.qual,
.time {
  background-color: #333;
  padding: auto;
  margin: 5px;
  height: auto;
  width: auto;
}

.ticket {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 70px;
}

.ticket:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.ticket:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
